<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Graph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Graph.Properties.Settings>
            <setting name="sko1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="sko2" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="elip1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="elip2" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="cheb1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cheb2" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>http://alex-r519-r719/interface</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value>botanic</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="shareForTempFiles" serializeAs="String">
                <value>\\ALEX-R519-R719\temp\</value>
            </setting>
            <setting name="fileServer" serializeAs="String">
                <value>\\ALEX-R519-R719\uploads\</value>
            </setting>
        </Graph.Properties.Settings>
    </userSettings>
</configuration>